<div class="footer-main">
    <div class="w-ct clearfix">
        <div class='f-foot'>
            <div>
                <h5 class='fl-foot'>Follow us</h5>
            </div>
            <div>
                <img src="/views/client/Content/Uploads/images/ico_youtube01.png" width="50px" alt="">
                <img src="/views/client/Content/Uploads/images/ico_facebook01.png" width="50px" alt="">
            </div>
        </div>
        <div class="line-foot">
            <hr color="#fff"/>
        </div>
        <div class="list-detail-foot clearfix">
            <div class="col-md-3">
                <h1 style="color: #fff; font-size: 24px; font-weight: bold; margin-bottom: 5px;">DAI DUONG</h1>
                <p class="vn-foot">VietNam</p>
            </div>
            <div class="col-md-3">
                <p class="title-item-foot">Công ty</p>
                <ul class="list-item-foot">
                    <li>Về chúng tôi</li>
                    <li>Dịch vụ</li>
                    <li>Global Home</li>
                    <li>Tuyển dụng</li>
                    <li>Cam kết bảo vệ quyền riêng</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="title-item-foot">Sản phẩm</p>
                <ul class="list-item-foot">
                    <li>Sản phẩm theo danh mục</li>
                    <li>Nhà cung cấp</li>
                    <li>Các mặt hàng nổi bật</li>
                    <li>Video sản phẩm</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="title-item-foot">Tin tức</p>
                <ul class="list-item-foot">
                    <li>Thông tin công ty</li>
                    <li>Thông tin sản phẩm</li>
                    <li>Triển lãm/Hội thảo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
