<div class="social-ring">
    <div class="social-ring-main" style="display: block">
        <div class="social-ring-content">
            <a target="_blank" rel="nofollow" href="" class="mes">
                <img alt="Fanpage" width="40" height="40" src="/views/client/Content/Uploads/images/mess-i.png" />
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
                <span>Message Facebook</span>
            </a>
            <a target="_blank" rel="nofollow" href="https://zalo.me/0888406268" class="zalo">
                <img alt="Zalo" width="40" height="40" src="/views/client/Content/Uploads/images/zalo-i.png" />
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
                <span>Zalo: 0888.40.62.68</span>
            </a>
            <a target="_blank" rel="nofollow" href="tel:0888406268" class="call-icon" rel="nofollow">
                <img alt="Hotline" width="40" height="40" src="/views/client/Content/Uploads/images/phone-i.png" />
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
                <span>Hotline: 0888.40.62.68</span>
            </a>
            <a target="_blank" rel="nofollow" href="tel:0968080891" class="call-icon" rel="nofollow">
                <img alt="Hotline" width="40" height="40" src="/views/client/Content/Uploads/images/phone-i.png" />
                <div class="animated alo-circle"></div>
                <div class="animated alo-circle-fill"></div>
                <span>Hotline: 0888.40.62.68</span>
            </a>
        </div>
    </div>
</div>
